/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    -webkit-tap-highlight-color: #222;
}



a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}


.icon-lg {
    font-size: 50px;
    line-height: 18px;
}


.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #9c27b0;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}
#home{
    margin-top:5rem;
    height: 95vh;
    position: relative;
}
#home h1{
  font-size: 10vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#intro h2{
    font-size:3vw;margin-top:5rem
}

#intro p{
    font-size:1.5vw;
    margin: 3rem 5rem;
}

@media(min-width:768px) {
    
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #9c27b0;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
}




@media(max-width:768px){
    #home h1{
        margin-top:8rem;
        font-size:2.5rem
    }
    #home .avtaar{
        height:20rem;
        width:20rem;
    }
  
    #home h3{
        
        font-size:1.5rem
    }
    #intro h2{
        font-size:2.5rem;margin-top:5rem
    }
    #intro p{
        font-size:1.2em;margin-bottom:3rem
    }
    .skills img {
        height:6rem
    }
 
    #one h1{
padding-top: 6rem;
    }
}


#two{
    height: 95vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 4fr 1fr 1fr;
    grid-template-areas:
    "blank6 blank6 blank6 blank6 blank6"
    "blank1 heading heading heading blank2"
    "blank1 blank7 blank7 blank7 blank2"
    "blank1 image blank3 text blank2"
    "blank1 blank5 blank5 button blank2"
    "blank1 blank4 blank4 blank4 blank2";
    grid-gap: 0.2rem;
}

#three{
    height: 95vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 4fr 1fr 1fr;
    grid-template-areas:
    "blank6 blank6 blank6 blank6 blank6"
    "blank1 heading heading heading blank2"
    "blank1 blank7 blank7 blank7 blank2"
    "blank1 text blank3 image blank2"
    "blank1 button blank5 blank blank2"
    "blank1 blank4 blank4 blank4 blank2";
    grid-gap: 0.2rem;
}

#four{
    height: 95vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 4fr 1fr 1fr;
    grid-template-areas:
    "blank6 blank6 blank6 blank6 blank6"
    "blank1 heading heading heading blank2"
    "blank1 blank7 blank7 blank7 blank2"
    "blank1 image blank3 text blank2"
    "blank1 blank5 blank5 button blank2"
    "blank1 blank4 blank4 blank4 blank2";
    grid-gap: 0.2rem;
}

#five{
    height: 95vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 4fr 1fr 1fr;
    grid-template-areas:
    "blank6 blank6 blank6 blank6 blank6"
    "blank1 heading heading heading blank2"
    "blank1 blank7 blank7 blank7 blank2"
    "blank1 text blank3 image blank2"
    "blank1 button blank5 blank blank2"
    "blank1 blank4 blank4 blank4 blank2";
    grid-gap: 0.2rem;
}

.heading{
    grid-area: heading;
}

.image{
    grid-area: image;
    
}

.svg{
    height: 35vh;
    margin-top: 5rem;
}

.text{
    grid-area: text;
    text-align: left;
    font-size: 3rem;
}

.button{
    grid-area: button;
    text-align: left;
}

.button-design{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:#d1d4c9;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
  }
  .button-design:hover{
    color : #d1d4c9;
    background-color:#9c27b0;
    box-shadow: 0 0 10px #9c27b0,0 0 40px #9c27b0,0 0 80px #9c27b0;
    transition-delay:1s;
  }
  .button-design span{
    position: absolute;
    display: block;
  }
  .button-design span:nth-child(1){
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background:  linear-gradient(90deg,transparent,#9c27b0);
  }
  .button-design:hover span:nth-child(1){
    left:100%;
    transition:1s;
  }
  .button-design span:nth-child(3){
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background:  linear-gradient(270deg,transparent,#9c27b0);
  }
  .button-design:hover span:nth-child(3){
    right: 100%;
    transition:1s;
    transition-delay: 0.5s;
  }
  .button-design span:nth-child(2){
    right:  0;
    top:-100%;
    height: 100%;
    width:  2px;
    background:  linear-gradient(180deg,transparent,#9c27b0);
  }
  .button-design:hover span:nth-child(2){
    top: 100%;
    transition:1s;
    transition-delay: 0.25s;
  }
  .button-design span:nth-child(4){
    left:  0;
    bottom: -100%;
    height: 100%;
    width:  2px;
    background:  linear-gradient(180deg,transparent,#9c27b0);
  }
  .button-design:hover span:nth-child(4){
    bottom:  100%;
    transition:1s;
    transition-delay: 0.75s;
  }
