<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ionicons.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Utils.css') }}" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/progressbar.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/cities.js') }}"></script>
    <title>{{title}}</title>
    <style>
 #output-image {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    border: 2px solid #ffffff;
  }

  .submit{
    margin-top:5vh;
    width:30vh !important;
  }
</style>
</head>
<body class="crop">
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first" style="font-size:2.5rem"> AGRIIFY</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="{{ url_for('home') }}">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">CROP RECOMMENDATION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">FERTLIZER SUGGESTION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index#four">DISEASE CLASSIFICATION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#five">ANALYTICS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal"  title="A free Bootstrap video landing theme"
                            href="pages/cv.html">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="main-crop">
    <h2 class="heading"><b>Please Upload The Image</b></h2>
  <form class="form-signin" method=post enctype=multipart/form-data>

    <input type="file" name="file" class="form-control-file" id="inputfile" onchange="preview_image(event)" style="font-weight: bold;">
    <br>
    <br>
    <img id="output-image" class="image-uploaded" />
    <button  type="submit" class="submit" style="font-weight: bold;">Predict</button>


  </form>
</div>

<script type="text/javascript">
  function preview_image(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById('output-image')
      output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

</div>
 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>